*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section .product-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

 }
 .product-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
 }
.product-card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-card img {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    flex: 1;
}